/* ----------------------------------------------------- */
/* header for page + logo*/
/* ----------------------------------------------------- */
#header {
    background: rgba(0, 0, 0, 0.975);
    color: #a6a6a6;
    cursor: default;
    height: 3.25em;
    left: 0;
    line-height: 3.25em;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#header > .logo {
    display: inline-block;
    height: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
}

#header > .logo a {
    font-family: 'Glegoo', serif;
    font-size: 1.25em;
    color: #FFF;
    text-decoration: none;
}

    #header > .logo a:hover {
        color: rgba(255, 255, 255, 0.65);
    }

#header > .logo span {
    font-weight: 400;
    font-size: .8em;
    color: rgba(255, 255, 255, 0.65);
}

.welcome-text{
    position: absolute;
    width: 1500px;
    height: 300px;  
    margin-top: 100px;
    word-spacing: 10px;
    text-align: center;
}

.welcome-text h1{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    font-size: 60px;
    margin-top: 150px;
    width: 1500px;
}
.welcome-text a {
    border: 1px solid #ffffff;
    padding: 10px 25px;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 150px;
    display: inline-block;
    color: #FFF
}
.welcome-text a:hover{
    background: #FFF;
    color: #333;
}
/* ----------------------------------------------------- */
/* tag a link*/
/* ----------------------------------------------------- */
#mainBody{
    background-image: linear-gradient(rgba(0, 0, 0, 0.493),rgba(0, 0, 0, 0.493)), url(img/casttleBackground.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    font: 15px/1.5 'PT Sans', serif;
    margin-top: 4.3em;
    width: 100%;
    text-align: center;
}
#mainbody ul{
    text-align: center;
}

#nav-bar {
    margin-top: -40px;
    margin-left: -80px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
}
/* Main nav */ 
nav {
    font-weight: 400;
} 

.main-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 63px;
    margin-right: 5px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 120%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #DC143C;
} 

/* ------ LINKS FOOTER------ */

footer a:link,
footer a:visited {
    /* color: #27ae60; */
    color: #302f2f;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #DC143C;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

footer a:hover,
footer a:active {
    color: #555555;
    border-bottom: 1px solid transparent;
}
/* ----------------------------------------------------- */
/* main body */
/* ----------------------------------------------------- */

body {
    background-color: #e6e6e6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

#titliIndex {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-weight: 400;
}

#titliIndex:after {
    display: block;
    height: 2px;
    background-color:crimson;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
.introduction {
    margin: 0 20px;
    text-align: justify;
    font-family: Courier New, Helvetica, sans-serif;
}

.section-features {
    background-color: #e6e6e6;
}

.section-main {
    padding: 0; 
    background-color: #e6e6e6;
}

.row {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto; 
}

/* ----------------------------------------------------- */
/* photo for room */
/* ----------------------------------------------------- */
.section-room{
    padding: 0px;
    background: #e6e6e6;
}

.room-showcase{
    list-style: none;
    width: 100%;
    display : flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0px;
    position: relative;
}

.room-showcase li{
    display: block;
    flex: 33%;
}
.room-photo{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
.room-photo img{
    opacity: 1;
    width: 100%;
    height: 290px;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
}

.room-photo:hover img {
    opacity: 0.7;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.txt {
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.52);
    position: absolute;
    bottom:30px;
    text-align: center;
    color: white;
    padding-top: 80px;
    box-sizing: border-box;
    opacity: 0;
}
.room-photo:hover div.txt{
    opacity: 1;
    transform: translateY(50px);
    transition:ease-in-out 0.5s;
}

.txt-title{
    margin: 0.5em auto;
    padding-bottom: 0.5em ;
    border-bottom: 1px solid #fff;
    width: 60%;
}

#titliIndex{
    font-family: 'Glegoo', serif;
}
/* ----------------------------------------------------- */
/* footer */
/* ----------------------------------------------------- */
footer {
    
    background-color: #e6e6e6;
    padding: 20px;
}
  
footer ul {
    display: flex;
    justify-content: flex-end;
}
  
footer ul li {
    list-style: none;
    padding: 0 10px;
}
  
footer span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}
/* ----------------------------------------------------- */
/* page Vue d'ensemble */
/* ----------------------------------------------------- */
.mainTitle {
    background-image: linear-gradient(rgba(0, 0, 0, 0.493),rgba(0, 0, 0, 0.493)), url(img/background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    justify-content: space-around;
    font: 15px/1.5 'PT Sans', serif;
    width: 100%;
    margin-top: 4.3em;
}

.mainTitle h2 {
    text-align: left;
    font-weight: 300;
    color: #af9f9f;
    padding: 80px;
    margin-top: -30px;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 48%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    margin-top: -20px;
  }

.column img{
    height: 290px;
    width: 80%;
    padding: 10px;
    margin-left: -40px;
}
.column h3{
    color: #ffffff;
}
.column p{
    color: #ffffff;
}
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: inline-table;
    clear: both;
}